---
# Handlers for nginx_configs role

- name: Validate nginx configuration
  ansible.builtin.command: nginx -t
  changed_when: false
  listen: Reload nginx

- name: Reload nginx
  ansible.builtin.service:
    name: nginx
    state: reloaded
  listen: Reload nginx

- name: Restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted
